<div class='panel panel-primary'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle}}
    </div>

    <div class="table-responsive">
        <table class="table" *ngIf='products && products.length'>
            <thead>
                <tr>
                    <th>
                        <button class='btn btn-primary' (click)='toggleImage()'>
                              {{showImage ? 'Hide':'Show'}} image
                       </button>
                    </th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor='let product of products'>
                    <td>
                        <img [src]='product.imageUrl' [style.width.px]='imageWidth' [title]='product.Name' [style.margin.px]='imageMargin' *ngIf='showImage'>
                    </td>
                    <td> {{product.Id}}</td>
                    <td> {{product.Name}}</td>
                    <td> {{product.price}}</td>
                    <td> {{product.starRating}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>